# Organizers are the default code owners for everything not owned by someone else
spencer@ultroneous.org

# Authors are code owners of the posts they write
2017-10-01-join-cooperative.md dioalma@gmail.com
