---
title: Cooperative Credit System
title-slug: finance
nav-weight: 3
---

<h2>
    Transactions
</h2>
<table class="transactions">
    <tr class="headers">
        <td>
            Date
        </td>
        <td>
            Amount
        </td>
        <td>
            Currency
        </td>
        <td>
            Giving Account
        </td>
        <td>
            Receiving Account
        </td>
    </tr>
{% for transaction in site.data.transactions %}
    <tr>
        <td>
            {{ transaction.date }}
        </td>
        <td>
            {{ transaction.amount }}
        </td>
        <td>
            {{ transaction.currency }}
        </td>
        <td>
            {{ transaction.from }}
        </td>
        <td>
            {{ transaction.to }}
        </td>
    </tr>
{% endfor %}
</table>

<h2>
    Balances
</h2>

{% assign giving_accounts = site.data.transactions | map: "from" | join: "|" %}
{% assign receiving_accounts = site.data.transactions | map: "to" | join: "|" %}
{% assign accounts = giving_accounts | append: "|" | append: receiving_accounts | split: "|" | uniq | sort %}

{% assign currencies = site.data.transactions | map: "currency" | uniq | sort %}

<table>
    <tr>
    <td></td>
    {% for currency in currencies %}
        <td>
            {{ currency }}
        </td>
    {% endfor %}
    </tr>
{% for account in accounts %}
    <tr>
        <td>
            {{ account }}
        </td>
    {% for currency in currencies %}
        <td>
            {% assign sum = 0 %}
            {% for transaction in site.data.transactions %}
                {% if transaction.from == account and transaction.currency == currency %}
                    {% assign sum = sum | minus: transaction.amount %}
                {% endif %}
                {% if transaction.to == account and transaction.currency == currency %}
                    {% assign sum = sum | plus: transaction.amount %}
                {% endif %}
            {% endfor %}
            {{ sum | round }}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

